import(lattice)
import(RSQLite)
import(clst)

importFrom("graphics", "legend", "par", "points", "text")
importFrom("stats", "median", "quantile")
importFrom("utils", "read.csv", "read.table")

## classes
exportClasses(

              )

exportMethods(

              )

## functions
export(
       ## placeTools.R
       classifyPlacements,
       ## placeTree,
       ## unplace,
       ## placeMat,
       ## placeMap,
       treeDists,
       ## placeData,

       ## taxTools.R
       ## nodeTable,
       maxDists,
       findOutliers,
       refpkgContents,
       taxonomyFromRefpkg,

       ## treeTools.R

       ## prettyTree.R
       prettyTree

       ## svgTree.R
       ## svgTree
       )

